@page
@model LogoutModel

@{
    ViewData["Title"] = "Wylogowanie";
}

<div class="text-center">
    <h1>Wylogowanie</h1>
    <p class="lead">Zostałeś pomyślnie wylogowany.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Wróć na stronę główną</a>
</div>

